<%= form_for(quote) do |f| %>
    <div class="field">
        <%= f.label :text %><br>
        <%= f.text_field :text %><br>
        <%= f.label :description %><br>
        <%= f.text_area :description %><br>
    </div>
    
    Location:

    <div class = "field">
     <%= f.fields_for :categories, quote.categories.build do |category_fields| %>
                <%= location_fields.label :nanee %>
                <%= location_fields.number_field :name %>
        <% end %>
    </div>
    <%= f.submit %>
<% end %>