<h2><%= @quote.text %></h2>

- <h4><%= @quote.author %></h4>

<h5> Categories </h5>
<ul>
    <% @categories.each do |category|  %>
        <li><%= link_to category.name, category_path(category) %></li>
    <% end %>
</ul>


<%= link_to "Add Original Category", new_quote_category_path(@quote) %><br>
<%= link_to "Edit Quote", edit_quote_path(@quote) %>