<div id="category">

<%= form_for (category) do |f| %>
    <%=  f.label :name %>
    <%=  f.text_field :name %>
    <%=  f.hidden_field :quote_id, :value => quote.id %>
    <%=  f.submit %>
<% end %>
<div>

<script type="text/javascript" charset="utf-8">

function Category(data){
  this.name = data["data"]["attributes"]["name"];
   }
       <%# `<h3> ${data["data"]["relationships"]["quotes"]["data"][i]["author"]}</h3> <br>
         by - <h5>${data["data"]["relationships"]["quotes"]["data"][i]["text"]}</h5>` %>
  
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();
       var values = $(this).serialize();
 
       var category = $.post('/categories', values);
      
       category.done(function(data) {
        let cat = new Category(data)
        let quote=""
         quote+=data["data"]["attributes"]["name"]
        $("div#category").html(quote)  
      });
    });
  });
</script>